<div class="form-wrapper">
  <a routerLink="/">
    <h1>I THINK SO</h1>
  </a>
  <form>
    <div>
      <input type="text" pInputText id="username" placeholder="Username" />
    </div>
    <div>
      <input type="email" pInputText id="email" placeholder="Email" />
    </div>
    <div>
      <input type="password" pInputText id="password" placeholder="Password" />
    </div>
  </form>

  <button type="submit">SIGN UP</button>

  <div class="additional">
    <p>
      Do you have an account?
      <span class="highlight"> <a routerLink="/signin"> Sign in </a> </span>
    </p>
  </div>
</div>
