.wrapper {
  padding: 0 10%;
  gap: 30%;
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #ff7400;
  border-radius: 2px;

  .input_field {
    position: relative;

    .pi {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      width: 160px;
      height: 30px;
      border: 1px solid black;
      padding-top: 6%;
      padding-left: 30%;
      font-size: 1rem;

      &::placeholder {
        font-size: 0.9rem;
      }
    }
  }

  .inp {
    i {
      height: 100px;
    }
  }

  h1 {
    color: #f4f8fd;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
  }

  .icons {
    display: flex;
    gap: 60%;
    span {
      cursor: pointer;
    }
    .icn {
      color: #f4f8fd;
      font-size: 1.8vw;
    }
  }
}
