<app-header> </app-header>
<div class="survey-card">
  <div class="survey-card__title">
    <div class="user-info">
      <span class="pi pi-user icn"></span>
      <h3>gggrents</h3>
    </div>
    <h2>Кто выиграет кубок Гагарина?</h2>
  </div>
  <div class="survey-card__img">
    <img
      src="https://metaratings.by/upload/iblock/ebe/ebe9b71d65d73ad237ab7020f434c7f5.jpg"
      alt=""
    />
  </div>
</div>
<div class="survey-card">
  <div class="survey-card__title">
    <div class="user-info">
      <span class="pi pi-user icn"></span>
      <h3>gggrents</h3>
    </div>
    <h2>Кто выиграет кубок Гагарина?</h2>
  </div>
  <div class="options">
    <ul>
      <li>Вариант ответа 1</li>
      <li>Вариант ответа 2</li>
      <li>Вариант ответа 3</li>
    </ul>
  </div>
  <div class="survey-card__img">
    <img
      src="https://metaratings.by/upload/iblock/ebe/ebe9b71d65d73ad237ab7020f434c7f5.jpg"
      alt=""
    />
  </div>
  <div class="survey-card__button">
    <button>Ответить</button>
  </div>
</div>
